/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    color: rgba(0,0,0,0.6);
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    float: left;
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 90%;
  max-width: 300px;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 18px;
  padding: 25px;
  text-align: right;
}

.container:hover .overlay {
  opacity: 1;
}

.hobby1{
float:left;
margin: 4px 10px 2px 0px;
border:1px solid green;
padding:6px;
background: #E0FFFF
}

.hobby2{
float:left;
margin: 4px 10px 2px 0px;
border:1px solid green;
padding:6px;
background: #90EE90
}

.hobby3{
float:left;
margin: 4px 10px 2px 0px;
border:1px solid green;
padding:6px;
background: #E0FFFF
}

.leftfoto{
float:left;
margin: 4px 10px 2px 0px;
border:1px solid green;
padding:6px;
}

.h2{
float:left;
font-family: Impact, Charcoal, sans-serif;
color: rgba(0,0,0,0.6);
text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);
}

.text3d-wrap-1 {
    margin: 0;
    padding: 0;
    position: relative;
    width: 30%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    perspective: 3000px;
}
.text3d-1 {
    align-self: left;
    margin-top: 3px;
    transition: all 0.3s ease;
    transform: rotateX(0deg) rotateZ(0deg);
    font-family: Impact, Charcoal, sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    color: #00FF00;
    text-shadow: green 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px;
}
.text3d-wrap-1:hover .text3d-1{
    margin-top: -6px;
    text-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 38px 26px, rgba(16, 16, 16, 0.2) 1px 42px 30px, rgba(16, 16, 16, 0.2) 1px 46px 65px, rgba(16, 16, 16, 0.4) 1px 50px 95px;
}
@media (max-width:767px) {
    .text3d-1 {
        font-size: 30px;
    }
}